<mat-card>
  <form (submit)="onLogin(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="email"
      name="email"
      ngModel
      #emailInput="ngModel"
      required
      email
      placeholder="E-Mail"
    />
    <mat-error *ngIf="emailInput.invalid"
      >Please enter a valid email.</mat-error
    >
    </mat-form-field>
    <mat-form-field>
      <input
      type="password"
      name="password"
      ngModel
      matInput
      placeholder="Password"
      #passwordInput="ngModel"
      required
    />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
